* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  color: #444;
} 

.wie-container {
  padding: 15px;
}

.wie-heading--h1 {
  margin-bottom: 30px;
}

.wie-heading--h2 {
  margin-bottom: 15px;
}

.wie-heading--calendar {
  background: url('/images/calendar-icon.png') no-repeat left center;
  background-size: contain;
  padding-left: 45px;
}

.wie-places-grid {
  list-style-type: none;
}

.wie-places-grid__place {
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.wie-places-grid__place:hover .wie-places-grid__place-inner {
  background-color: rgba(255, 255, 255, .9);
}

.wie-places-grid__place-inner {
  transition-property: background-color;
  transition-duration: .4s;
  background-color: rgba(255, 255, 255, .7);
  padding: 15px;
}

.wie-places-grid__place + .wie-places-grid__place {
  margin-top: 15px;
}

.wie-weather-description {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  list-style: none;
}

.wie-weather-description__item {
  text-transform: uppercase;
}

.wie-weather-description__item:after {
  content: '-';
  margin: 0 10px ;
}

.wie-weather-description__item:last-child:after {
  content: ''; 
}

.wie-dl {
  overflow: hidden;
  padding-top: 15px;
  border-top: 1px solid #444;
}

.wie-dl__term {
  display: block;
  width: 60%;
  margin-bottom: 10px;
  float: left;
  clear: left;
}

.wie-dl__desc {
  display: block;
  width: 40%;
  margin-bottom: 10px;
  float: left;
  text-align: right;
}

.wie-forecast-container {
  background-size: cover;
  background-repeat: no-repeat;
}

.wie-forecast {
  list-style-type: none;
}

.wie-forecast__item {
  padding: 15px;
  background-color: rgba(255, 255, 255, .7);
}

.wie-forecast__item + .wie-forecast__item {
    margin-top: 15px;
}

@media screen and (min-width: 520px) {
  
  .wie-places-grid,
  .wie-forecast {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .wie-forecast {
    margin: 0;
  }

  .wie-places-grid__place,
  .wie-forecast__item {
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }

}

@media screen and (min-width: 1040px) {

  .wie-places-grid__place,
  .wie-forecast__item {
    flex-basis: calc(33% - 30px);
  }

}