<div class="wie-container">
	
	<h1 class="wie-heading wie-heading--h1">Five day weather forecast for {{ $ctrl.place.name }} </h1>

	<div class="wie-forecast-container" style="background-image: url('/images/{{ $ctrl.place.id }}.jpg');">
		<ul class="wie-forecast">
			<li class="wie-forecast__item" ng-repeat="item in $ctrl.forecast">
				<h2 class="wie-heading wie-heading--h2 wie-heading--calendar">{{ item.date.day }} - {{ item.date.month }}</h2>
				
				<ul class="wie-weather-description">
					<li class="wie-weather-description__item" ng-repeat="description in item.apiData.weather">{{ description.description }}</li>
				</ul>

				<dl class="wie-dl">
					<dt class="wie-dl__term">Temp.</dt>
					<dd class="wie-dl__desc">{{ item.apiData.main.temp }}</dd>
					<dt class="wie-dl__term">Maximum temp.</dt>
					<dd class="wie-dl__desc">{{ item.apiData.main.temp_max }}</dd>
					<dt class="wie-dl__term">Minumum temp.</dt>
					<dd class="wie-dl__desc">{{ item.apiData.main.temp_min }}</dd>
					<dt class="wie-dl__term">Humidity</dt>
					<dd class="wie-dl__desc">{{ item.apiData.main.humidity }}</dd>
					<dt class="wie-dl__term">Pressure</dt>
					<dd class="wie-dl__desc">{{ item.apiData.main.pressure }}</dd>

				</dl>

			</li>
		</ul>
	</div>

</div>

