<div class="wie-container">

	<h1 class="wie-heading wie-heading--h1">The weather in Europe</h1>

	<ul class="wie-places-grid">

		<li ui-sref="place({place: $ctrl.slugify(place.name), id: place.id })" class="wie-places-grid__place" ng-repeat="place in $ctrl.places" style="background-image: url('/images/{{ place.id }}.jpg');">
			
			<div class="wie-places-grid__place-inner">

				<h2 class="wie-heading wie-heading--h2">{{ place.name }}</h2>

				<ul class="wie-weather-description">
					<li class="wie-weather-description__item" ng-repeat="description in place.weather">{{ description.description }}</li>
				</ul>

				<dl class="wie-dl">
					<dt class="wie-dl__term">Temp.</dt>
					<dd class="wie-dl__desc">{{ place.main.temp }}</dd>
					<dt class="wie-dl__term">Maximum temp.</dt>
					<dd class="wie-dl__desc">{{ place.main.temp_max }}</dd>
					<dt class="wie-dl__term">Minumum temp.</dt>
					<dd class="wie-dl__desc">{{ place.main.temp_min }}</dd>
					<dt class="wie-dl__term">Humidity</dt>
					<dd class="wie-dl__desc">{{ place.main.humidity }}</dd>
					<dt class="wie-dl__term">Pressure</dt>
					<dd class="wie-dl__desc">{{ place.main.pressure }}</dd>
				</dl>

			</div>

		</li>
		
	</ul>

</div>
